.teamManager-header {
  margin-bottom: 16px;
}

.teamManager-memberCtr {
  display: flex;
  flex-wrap: wrap;
}

.teamManager-showMore {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.teamManager-teamPageButton {
  float: right;
}
