.memberSelector-inputCtr {
  padding: 16px 10px;
}

.memberSelector-input {
  display: block;
  width: 100%;
}

.memberSelector-title {
  font-weight: 800;
}

.memberSelector-noResults {
  text-align: center;
  padding: 0 10px 16px;
}